@{
    Layout = null;
    
}
<!Doctype HTML>
<html>
    <head>
        <title>Access Denied</title>
    </head>
    <body>
        <h3 style="color:red;">Acess Denied</h3>
        <p>You donot have sufficient priveiledges to view the content of this page...</p>
    </body>
</html>