@model UserGroupViewModel

<btn class="btn btn-primary" href="#" data-toggle="modal" data-target="#assignGroup">Add Group</btn>
<div class="modal fade" id="assignGroup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add User to Group</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="AddUserToGroup" asp-controller="Account" method="post">
                    <div class="form-group">
                        <input type="hidden" name="UserID" asp-for="UserID" />
                        @Html.DropDownList("GroupId", (SelectList)ViewBag.GroupId, "Select Group", new { @class = "form-control" , id = "groupId"})
                    </div>
                    <div>
                        <button class="btn btn-success">Create</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>