@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Index";
    int count = 1;
}
<div class="container">
     <div class="card">
         <div class="card-header">List of Users</div>
         <div class="card-body">
             <div class="table-responsive">
                 <table class="table table" id="dataTable">
                     <thead>
                         <tr>
                             <th>No</th>
                             <th>Username</th>
                             <th>Email</th>
                             <th>Actions</th>
                         </tr>
                     </thead>
                     <tbody>
                        @foreach(var user in Model)
                        {
                            <tr>
                                <td>@count</td>
                                <td>@user.UserName</td>
                                <td>@user.Email</td>
                                <td>
                                    <a>Details</a>
                                    <a>Delete</a>
                                </td>
                            </tr>
                            count++;
                        }
                    </tbody>
                 </table>
             </div>
         </div>
     </div>
</div>