@model DevExpress.XtraReports.UI.XtraReport

@{
    ViewData["Title"] = "Report Viewer";
}

<h2>Report Viewer</h2>

<dxrp:ReportViewer runat="server" ID="reportViewer" Report="Model">
</dxrp:ReportViewer>
