@{
	Layout = "~/Views/Admission/_AdmissionLayout.cshtml";
	ViewData["Title"] = "Upload Passportsize Photo";
}
<div class="container">
	<div class="row">
		<div class="col-4"></div>
		<div class="col-md-4 col-sm-12"><br /><br />
			<div class="card">
				<div class="card-header">
					<p>UPLOAD PASSPORTSIZE PHOTO</p>
				</div>
				<div class="card-body">
					<div></div>
					<form asp-action="UploadPhoto" enctype="multipart/form-data">
						<input type="file" class="form-control" /><br />
						<button class="btn btn-primary">Upload</button>
					</form>
				</div>
			</div>
			<br /><a class="btn btn-danger text-light" asp-action="SupportingDocument">Previous</a> |
			<a class="btn btn-primary text-light" asp-action="Summary">Next</a>
		</div>
		<div class="col-4"></div>
	</div>
</div>