@model DocumentUploadViewModel
<button class="btn text-light" href="#" data-toggle="modal" data-target="#documentModal" style="background:darkblue">Create New</button>
<!-- Logout Modal-->
<div class="modal fade" id="documentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Reference</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="UploadDocument" asp-controller="Admission" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="EntranceApplicantId" type="hidden" />
                        <label asp-for="DocumentTypeId" class="control-label">Document Type</label>
                        @Html.DropDownList("DocumentTypeId", (SelectList)ViewBag.DocumentTypeId, "Select Document Type", new { id = "documenttype", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="file">Choose PDF File</label>
                        <input type="file" id="file" name="file" class="form-control" accept=".pdf" required>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
